@import 'https://fonts.googleapis.com/css?family=Lexend+Zetta|Major+Mono+Display&display=swap';
@import'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap';
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    align-items: flex-start;
    flex-direction: row;
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
header {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    }
.links a strong{
    margin-right: 90px;
    top: -100px;
}
.links a {
    margin-top: 30px;
    padding: 5px;
    font-size: 100%;
    color: rgb(243, 240, 240);
    text-decoration: none;
    margin: 0 10px;
    top: 0;
}

.links a:hover{
    background-color:white;
    color: black;
}

.modal .pages{
    visibility: hidden;
    position: absolute;
    top: 1px;
}

@media (max-width:1000px){
    .card {
        height: 100px;
    }
    .card img {
        height: 100px;
    }
    .container .prev,.container .next{
      top: 28%;
    }
}

@media (max-width:1500px){
    body{
    display: block;
    
    }
    header{
        margin-top: 0px;
        line-height: 40px;
        margin-bottom: 100px;
    }
    .links {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    .open-modal i {
        font-size: 50px;
        cursor: pointer;
        position: fixed;
        right: 10px;
        top: 15px;
        color: rgb(243, 240, 240);
        z-index: 1;
    }

    .open-modal i:hover{
        color: black;
        background-color: white;
    }
    .modal{
        background-color: rgba(0,0,0,0.9);
        width: 220px;
        height: 280px;
        position: fixed;
        right: 0px;
        top: 10px;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }
    .modal .pages {
        display: grid;
        grid-template-rows: 1fr;
        margin-top: 20px;
        margin-right: 100%;
        margin-left: 20px;
        text-decoration: none;
        color: white;
        font-size: 14px;
        visibility: visible;
        position: relative;
        text-transform: uppercase;
    }
    
    .modal.active{
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        position: fixed;
        border: rgba(0,0,0,0.9);
    }

    .links a {
        visibility: hidden;
        position: absolute;
    }

    .links a strong {
        visibility: visible;
        color: white;
        position: absolute;
        top: 5px;
    }
    .container .prev,.container .next{
      top: 40%;
    }

}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
 width: 1600px 100%;
 height: 900px;
 margin: 20px 60px;
 position: relative;
 /* margin-left: 100px; */
}
.numbertext{
    font-size: 50px;
    color: white;
    visibility: hidden;
}
/* Hide the images by default */
.mySlides img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  max-width: 100%;
  transition: 1s;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  color: white;
  font-size: 20px;
  left: 0px;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  color: white;
  font-size: 20px;
  -webkit-user-select: none;
}



.row{
  display: inline-block;
  margin-top: -20px;
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
}

/* Six columns side by side */
.column img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.column {
  float: left;
  width: 60px;
  height: 60px;
  display: block;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 1;
}

.active,
.demo:hover {
  border: 2px solid white;
  display: block;
  animation: linear;
}
#fullScreen{
    color: white;
    font-size: 40px;
    position: absolute;
    right: 0px;
    top: 60px;
    cursor: pointer;
}
#fullScreen:hover{
    color: black;
    transition: 0s;
}

#exit{
  color: white;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  visibility: hidden;
}

:-webkit-full-screen {
    background-color: black;
  }
  
  /* Firefox syntax */
  :-moz-full-screen {
    background-color: black;
  }
  
  /* IE/Edge syntax */
  :-ms-fullscreen {
    background-color: black;
  }
  
  /* Standard syntax */
  :fullscreen{
    background-color: black;
  }
  :fullscreen .mySlides img{
    position: absolute;
    top: 25px;
    object-fit: contain;
    width: 50%;
  }
  :fullscreen .prev{
    position: absolute;
    left: 0;
  }
  :fullscreen .next{
    position: absolute;
    right: 0;
  }

  :fullscreen .row{
    position: absolute;
    bottom: 25px;
    margin-bottom: 0;
  }
  :fullscreen #fullScreen{
    visibility: hidden;
  }

  :fullscreen #exit{
    visibility: visible;
  }
/*** texto ***/
.lorem {
    color: white;
    margin-top: 100px;
    width: 500px;
    max-width: 100%;
}
.lorem p {
    padding: 20px;
}