@import 'https://fonts.googleapis.com/css?family=Lexend+Zetta|Major+Mono+Display&display=swap';
@import'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap';
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    align-items: flex-start;
    flex-direction: row;
    background-color: black;
}
header {
    font-family: 'Roboto Condensed';
    line-height: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    }

#cards{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.links a strong{
    margin-right: 90px;
    top: -100px;
}
.links a {
    margin-top: 30px;
    padding: 5px;
    font-size: 100%;
    color: rgb(243, 240, 240);
    text-decoration: none;
    margin: 0 10px;
    top: 0;
}

.links a:hover{
    background-color:white;
    color: black;
}

.card{
    height: 500px;
    border: 2px solid black;
    position: relative;
    
}
.card img {
    width: 100%;
    height: 500px;
    bottom: 10;
    display: block;
    filter: blur(2px)grayscale(1);
    object-fit: cover;
}

.card:hover  img{
    filter: none;
}
.card:hover .overlay{
    opacity: 0.9;
    filter: none;
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.text{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    opacity: 1;
    font-family: 'Roboto',sans-serif;
}
.text1{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%,-0%);
    opacity: 1;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
}

.modal .pages{
    visibility: hidden;
    position: absolute;
    top: 1px;
}
@media (max-width: 2500px){
        .card{
            height: 400px;
            
        }
        .card img {
            width: 100%;
            height: 400px;
        }
    

}
@media (max-width: 2000px){
    #cards {
        grid-template-columns: 1fr 1fr
    }
    .card{
        height: 500px;
        
    }
    .card img {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 1500px){
    #cards {
        grid-template-columns: 1fr
    }
    .card{
        height: 750px;
        
    }
    .card img {
        width: 100%;
        height: 750px;
    }

    header{
        margin-top: 0px;
        line-height: 40px;
        margin-bottom: 100px;
    }
    .links {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    .open-modal i {
        font-size: 50px;
        cursor: pointer;
        position: fixed;
        right: 10px;
        top: 15px;
        color: rgb(243, 240, 240);
        z-index: 1;
    }
    .close-modal i {
        font-size: 40px;
        cursor: pointer;
        position: fixed;
        right: 15px;
        top: 15px;
        color: red;
        z-index: 1;
    }

    
    .modal{
        background-color: rgba(0,0,0);
        width: 0px;
        height: 100%;
        position: fixed;
        right: 0px;
        top: 10px;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        transition: 0.5s;
    }
    .modal .pages {
        display: grid;
        grid-template-rows: 1fr;
        margin-top: 50px;
        margin-right: 100%;
        margin-left: 20px;
        text-decoration: none;
        color: white;
        font-size: 24px;
        visibility:visible;
        position: relative;
        text-transform: uppercase;
    }
    
    .modal.active{
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        position: fixed;
        border: rgba(0,0,0,0.9);
        width: 220px;
    }

    .links a {
        visibility: hidden;
        position: absolute;
    }

    .links a strong {
        visibility: visible;
        color: white;
        position: absolute;
        top: 5px;
    }

    .overlay{
        opacity: 1;
    }
}

@media (max-width: 1000px){
    #cards {
        grid-template-columns: 1fr
    }
    .overlay{
        opacity: 1;
    }
}

.modal-overlay {
    background-color:black;
    width: 100%;
    height: 3150px;
    top: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

.close-modal #close-modal1 {
    position: absolute;
    right: 2px;
    top: 2px;
    color: white;
    opacity: 0.2;
    cursor: pointer;
    font-size: 50px;
}




@media (max-width:1000px){
    .close-modal #close-modal1{
        font-size: 40px;
        margin-right: 5px;
        }
    iframe{
        right: 0px;
        top: auto;
        margin-top: 30px;
    }
    .modal-overlay .modal-house{
        
        height: 700px;
    }
    
}