@import 'https://fonts.googleapis.com/css?family=Lexend+Zetta|Major+Mono+Display&display=swap';
@import'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap';
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    align-items: flex-start;
    flex-direction: row;
    background-color: black;
}
header {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    }


.links a strong{
    margin-right: 90px;
    top: -100px;
}
.links a {
    margin-top: 30px;
    padding: 5px;
    font-size: 100%;
    color: rgb(243, 240, 240);
    text-decoration: none;
    margin: 0 10px;
    top: 0;
}

.links a:hover{
    background-color:white;
    color: black;
}

.modal .pages{
    visibility: hidden;
    position: absolute;
    top: 1px;
}

@media (max-width:1000px){
    
}

@media (max-width:1500px){

    header{
        margin-top: 10px;
        line-height: 40px;
        margin-bottom: -100px;
    }
    .links {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    .open-modal i {
        font-size: 50px;
        cursor: pointer;
        position: fixed;
        right: 10px;
        top: 15px;
        color: rgb(243, 240, 240);
        z-index: 1;
    }

    .open-modal i:hover{
        color: black;
        background-color: white;
    }
    .modal{
        background-color: rgba(0,0,0,0.9);
        width: 220px;
        height: 280px;
        position: fixed;
        right: 0px;
        top: 10px;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }
    .modal .pages {
        display: grid;
        grid-template-rows: 1fr;
        margin-top: 20px;
        margin-right: 100%;
        margin-left: 20px;
        text-decoration: none;
        color: white;
        font-size: 14px;
        visibility: visible;
        position: relative;
        text-transform: uppercase;
    }
    
    .modal.active{
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        position: fixed;
        border: rgba(0,0,0,0.9);
    }

    .links a {
        visibility: hidden;
        position: absolute;
    }

    .links a strong {
        visibility: visible;
        color: white;
        position: absolute;
        top: 5px;
    }
}

#box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;    
    color: white;
}

.container0{
    background-color: rgba(255, 255, 255, 0.03);
    width: 98%;
    height: 500px;
    border-left: 3px solid white;
}
.info{
    text-align: center;
    margin-bottom: 12px;
}
.container1{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.03);
    width: 98%;
    height: 500px;
    border-left: 3px solid white;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.container0 p {
    padding: 5px;
    padding-left: 15px;
}

.container1 a img{
    width: 40px;
    height: 40px;
    padding: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    
}
.container1 div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    /* border: 2px solid white; */
    margin: 10px auto;
    transition: 300ms;
}

.container1 .boxes {
    width: 300px;
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-color: transparent;
    border: transparent;
}

.container1 .whats:hover{
    background-color:#00E676;
    transition: 300ms;
    transform: scale(1.1);
}

.container1 .linkedin:hover{
    background-color:#0077B5;
    transition: 300ms;
    transform: scale(1.1);
}

.container1 .instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    transition: 300ms;
    transform: scale(1.1);
}

.container1 .facebook:hover{
    background:#4267B2 ;
    transition: 300ms;
    transform: scale(1.1);
}