@import 'https://fonts.googleapis.com/css?family=Lexend+Zetta|Major+Mono+Display&display=swap';
@import'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap';
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    align-items: flex-start;
    flex-direction: row;
    background-color: black;
}
header {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    }


.links a strong{
    margin-right: 90px;
    top: -100px;
}
.links a {
    margin-top: 30px;
    padding: 5px;
    font-size: 100%;
    color: rgb(243, 240, 240);
    text-decoration: none;
    margin: 0 10px;
    top: 0;
}

.links a:hover{
    background-color:white;
    color: black;
}

.modal .pages{
    visibility: hidden;
    position: absolute;
    top: 1px;
}

@media (max-width:1000px){
    
}

@media (max-width:1500px){

    header{
        margin-top: 10px;
        line-height: 40px;
        margin-bottom: -100px;
    }
    .links {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    .open-modal i {
        font-size: 50px;
        cursor: pointer;
        position: fixed;
        right: 10px;
        top: 15px;
        color: rgb(243, 240, 240);
        z-index: 1;
    }

    .open-modal i:hover{
        color: black;
        background-color: white;
    }
    .modal{
        background-color: rgba(0,0,0,0.9);
        width: 220px;
        height: 280px;
        position: fixed;
        right: 0px;
        top: 10px;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }
    .modal .pages {
        display: grid;
        grid-template-rows: 1fr;
        margin-top: 20px;
        margin-right: 100%;
        margin-left: 20px;
        text-decoration: none;
        color: white;
        font-size: 14px;
        visibility: visible;
        position: relative;
        text-transform: uppercase;
    }
    
    .modal.active{
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        position: fixed;
        border: rgba(0,0,0,0.9);
    }

    .links a {
        visibility: hidden;
        position: absolute;
    }

    .links a strong {
        visibility: visible;
        color: white;
        position: absolute;
        top: 5px;
    }
}