@import 'https://fonts.googleapis.com/css?family=Lexend+Zetta|Major+Mono+Display&display=swap';
@import'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap';
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lexend Zetta';
    margin: 0 auto;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    background-color: #333;
}
header {
    border-bottom: 1px solid #333; 
    font-family: 'Major Mono Display';
    border: 4px solid #333;
    }
header{
    border-color: rgb(243, 240, 240);
    transition: 0.5s;
}

.links {
    margin-left: 10px;
    display: grid;
    grid-template-columns:1fr 1fr;
}

.links a {
    margin-top: 30px;
    padding: 20px;
    font-size: 30px;
    color: rgb(243, 240, 240);
    text-decoration: none;
    
}
.open-modal i {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 40px;
    color: rgb(243, 240, 240);
}
.modal{
    background-color: rgba(0,0,0,0.9);
    width: 300px;
    height: 590px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 42px;
    opacity: 0;
    visibility: hidden;
}
.modal .pages {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 50px;
    margin-right: 100%;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.modal.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.card{
    position: relative;
}
.card img {
    width: 100%;
    filter: grayscale(100%);
}
.card img:hover {
    filter: grayscale(0);
    transition: 0.75s
}
.card p {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.card .ind {
    font-weight: bold;
    color: black;
}